/*************************************************|
| Styles for the buttons in the framework         |
*************************************************/

button, .button {

  background: $primary;
  color: white;
  border: 0;
  border-radius: 99px;
  width: 90px;
  font-family: "HarmoniaSans", sans-serif;
  text-transform: lowercase;
  cursor: pointer;

  &.secondary {
    background: $secondary;

    &:hover {
      background: darken($secondary, 10%);
    }
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: darken($primary, 10%);
  }
}
